.newBook{width: 300px;height: 300px;margin: 20px auto;background-color: cornsilk;position: relative;display: flex;}
.newBookText{position: absolute;top: 25px;left: 44%;}
.newBookPrice{position: absolute;bottom: 25px;left: 47%;}